
if SHIELD_THE_FOOBAR_KEYBOARD_LEFT || SHIELD_THE_FOOBAR_KEYBOARD_RIGHT

    config ZMK_KEYBOARD_NAME
        default "foobar"

    config ZMK_SPLIT
        default y

    # config ZMK_NON_LIPO_BATTERY_MANAGEMENT
    #   default y
endif