
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10   // default: 10

/ {

    behaviors {
        // デフォルトのMod-Tap(&mt)の挙動を上書きし、QMK風の快適な設定に変更します
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            
            // --- ここからがカスタマイズ項目です ---

            // タップとホールドを認識する時間。200msに設定。
            tapping-term-ms = <200>;
            
            // 'tap-preferred'フレーバーを選択。
            // これにより、高速でキーを連続入力（ローリング）した際に、
            // ホールド（モディファイア）が誤爆するのを防ぎます。
            // QMKの`IGNORE_MOD_TAP_INTERRUPT`に近い挙動です。
            flavor = "tap-preferred"; 

            // (オプション) この時間内の素早い連続タップは、強制的にタップとして扱います。
            // これにより、スペースキーやエンターキーの連続タップがより確実になります。
            quick-tap-ms = <150>;

            // --- ここまでがカスタマイズ項目です ---

            bindings = <&kp>, <&kp>;
        };

        // 日本語入力のオンオフで、ChromeでAltキーが暴発するための対策マクロ
        macros {
            macro_alt_grave: macro_alt_grave {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <5>;
                tap-ms = <5>;
                bindings =
                    <&macro_press &kp LALT>
                    , <&macro_tap &kp GRAVE>
                    , <&macro_release &kp LALT>
                ;
            };
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // base layer (dvorak)
        layer_0 {
            bindings = <
   &mt LGUI QUOT   &kp COMMA    &lt 7 DOT   &kp P     &kp Y           &kp F    &kp G     &kp C        &kp R         &kp L
   &kp A           &kp O        &kp E       &kp U     &kp I           &kp D    &kp H     &kp T        &kp N         &kp S
   &mt LSHIFT SEMI &mt LCTRL Q  &mt LALT J  &lt 4 K   &lt 3 X         &lt 2 B  &lt 5 M   &mt RALT W   &mt RCTRL V   &mt RSHIFT Z

            >;
        };

        // unused
        layer_1 {
            bindings = <
   &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans 
   &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans 
   &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans 
            >;
        };


        // number layer
        layer_2 {
            bindings = <
   &kp N1  &kp N2            &kp N3   &kp N4     &kp N5               &kp N6    &kp N7    &kp N8     &kp N9     &kp N0
   &trans  &macro_alt_grave  &kp ESC  &kp ENTER  &kp TAB              &kp LBKT  &kp RBKT  &kp SLASH  &kp EQUAL  &kp MINUS
   &trans  &trans            &kp DEL  &kp BSPC   &kp SPACE            &trans    &mo 8     &trans     &trans     &trans
            >;
        };

        // function layer
        layer_3 {
            bindings = <
   &mt LGUI F1     &kp F2        &kp F3        &kp F4  &kp F5         &trans            &kp HOME   &kp PG_DN  &kp PG_UP   &kp END
   &mt LCTRL F6    &kp F7        &mt LCTRL F8  &kp F9  &kp F10        &trans            &kp LEFT   &kp DOWN   &kp UP      &kp RIGHT    
   &mt LSHIFT F11  &mt LCTRL F12 &trans        &mo 8   &trans         &macro_alt_grave  &trans     &trans     &trans      &trans
            >;
        };


        // number layer 2
        layer_4 {
            bindings = <
   &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                   &kp N6    &kp N7    &kp N8     &kp N9     &kp N0
   &trans  &none   &none   &none   &none                    &kp LBKT  &kp RBKT  &kp SLASH  &kp EQUAL  &kp MINUS
   &trans  &trans  &trans  &trans  &mo 8                    &trans    &mo 6     &trans     &trans     &trans
            >;
        };

        // misc keys & symbol layer
        layer_5 {
            bindings = <
   &trans  &none   &none      &none            &none                  &kp LBKT  &kp RBKT       &kp SLASH  &kp EQUAL  &kp MINUS
   &trans  &none   &kp PSCRN  &kp PAUSE_BREAK  &kp INS                &kp GRAVE &kp BACKSLASH  &none      &none      &none 
   &trans  &trans  &trans     &mo 6            &trans                 &mo 8     &trans         &trans     &trans     &trans
            >;
        };

        // bluetooth layer
        layer_6 {
            bindings = <
   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4          &bt BT_CLR  &trans  &trans  &trans  &bt BT_CLR_ALL
   &trans        &trans        &trans       &trans        &trans                &trans      &trans  &trans  &trans  &trans
   &trans        &trans        &trans       &trans        &trans                &trans      &trans  &trans  &trans  &trans
            >;
        };

        // mouse layer
        layer_7 {
            bindings = <
   &none       &mkp MB2   &trans    &mkp MB1  &mkp MB4                &mkp MB2  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT
   &kp LCTRL   &none      &none     &none     &mkp MB5                &mkp MB1  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
   &kp LSHIFT  &kp LCTRL  &kp LALT  &none     &mkp MB3                &mkp MB3  &none           &kp RALT        &kp RCTRL     &kp RSHIFT
            >;
        };

        // bootloader layer
        layer_8 {
            bindings = <
   &bootloader  &none  &none  &none   &none                 &none   &none   &none  &none  &bootloader
   &none        &none  &none  &none   &none                 &none   &none   &none  &none  &none
   &none        &none  &none  &trans  &trans                &trans  &trans  &none  &none  &none
            >;
        };

    };
};
